@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MapoFlowerIsland';
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

ul {
    padding-left: 0 !important;
}

li {
    list-style: none;
}


/* App */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* NavBar */
.header {
    position: relative;
}

.login_btn {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo figure {
    width: 100px;
    cursor: pointer;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu ul {
    display: flex;
}

.menu li {
    padding: 10px;
    cursor: pointer;
}

.search {
    position: absolute;
    top: 10px;
    left: 15px;
}

.search input {
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    padding-left: 20px;
    font-size: 1.15em;
}

.search .searchIcon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* Card */
.card_wrap li {
    cursor: pointer;
}

.card_wrap li:hover figure {
    transform: scale(1.1);
}

.card_wrap li figure {
    width: 100%;
    max-width: 300px;
}

.card_wrap li span {
    display: block;
    font-size: 1.1em;
    color: #333;
}

.card_wrap li p {
    font-size: 1.1em;
    font-weight: 500;
}

.card_wrap li em {
    font-size: .85em;
    color: #333;
    display: block;
    font-style: normal;
}

/* detail */

.product_inner {
    margin-bottom: 30px;
}

.product_img {
    display: flex;
    justify-content: flex-end;
}

.product_title {
    margin-bottom: 15px;
    font-size: 1.2em;
}

.product_price {
    font-size: 1.25em;
}

.add_button {
    width: 100%;
    margin-top: 20px;
}

.side-menu {
    display: none;
}

.burger-menu {
    display: none;
}

@media screen and (max-width:768px) {
    .hide {
        visibility: visible;
        font-size: 20px;
        position: absolute;
        left: 15px;
    }

    .hide svg {
        margin-top: 10px;
        cursor: pointer;
    }

    .burger-menu {
        display: block;
    }

    .menu {
        display: none;
    }

    .search {
        display: none;
    }

    .side-menu {
        display: block;
        height: 100%;
        width: 250px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: burlywood;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .side-menu-list button {
        margin: 5px;
        border: none;
        background: none;
        width: 120px;
    }

    .side-menu .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        border: none;
        background: none;
    }

    .side-menu-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .side-menu-list button:hover {
        background-color: beige;
        border-radius: 3px;
    }

    .card_wrap li figure {
        margin: 0 auto;
        box-shadow: 3px 1px 4px rgba(0, 0, 0, 0.30);
    }

    .card_wrap li:hover figure {
        transform: scale(1);
    }

    .card_wrap li .txt_area {
        text-align: center;
        margin-top: 15px;
    }
}